@media (max-width: 768px) {
    .sidebar {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      transition: 0.3s;
      z-index: 1040;
    }
    .sidebar.show {
      left: 0;
    }
    .main-content {
      margin-left: 0 !important;
      width: 100%;
    }
  }

#orderDetailsModal .modal-dialog {
  max-width: 900px;
  width: 95vw;
}
#orderDetailsModal .modal-content {
  border-radius: 1rem;
  max-height: 90vh;
  overflow-y: auto;
}
@media (min-width: 768px) {
  #orderDetailsModal .modal-dialog {
    width: 70vw;
  }
}